<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info About Image</title>
</head>
<body>
{% include 'base.html' %}
<div class="container">
<h1>Вот твои характеристики:</h1>
<p>Имя: {{ name }}</p>
<p>Режим: {{ mode }}</p>
<p>Ширина: {{ width }}</p>
<p>Высота: {{ height }}</p>
<p>Формат: <a href="{{ url_for('info_about_format.show') + '?format=' + image_format }}">{{ image_format }}</a></p>
<p>Размер: {{ size }}</p>
<p align="right"><a href="/">На главную</a></p>
</div>
</body>
</html>