<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выгрузка изображения</title>
</head>
<body>
{% include 'base.html' %}
<div class="container">
<h1>Upload image to make it <a href="{{ url_for('info_about_format.show') + '/?format=' + extension.upper() }}">{{ extension.upper().replace('.', '') }}</a></h1>
<p>The File must have one of the following extensions: {% for ext in suitable %} <a href="{{ url_for('info_about_format.show') + '/?format=' + ext.upper() }}">.{{ ext }}</a> {% endfor %}</p>
<form  action="{{ url_for('convert.choose_file') }}" method="POST" enctype="multipart/form-data">
    <div class="file-upload-wrapper">
        <input type="hidden" name="extension" value="{{ extension }}">
        <input type="file" id="input-file-now" class="file-upload" name="image"/>
    </div>
    <input type="submit">
</form>
    <p align="right"><a href="/" class="btn btn-primary my-2">На главную</a></p>
</div>
</body>
</html>

