<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выгрузка изображения</title>
</head>
<body>
{% include 'base.html' %}
<div class="container">
<h1>Загрузи свое изображение чтобы конвертировать его в <a href="{{ url_for('info_about_format.show') + '/?format=' + extension.upper() }}">{{ extension.upper().replace('.', '') }}</a></h1>
<p>Файл должен иметь одно из следующих расширений: {% for ext in suitable %} <a href="{{ url_for('info_about_format.show') + '/?format=' + ext.upper() }}">.{{ ext }}</a> {% endfor %}</p>
<form class="btn btn-secondarymy-2 container" action="{{ url_for('convert.choose_file') }}" method="POST" enctype="multipart/form-data">
        <input   class="btn btn-primary my-2 container" type="file" name="image"/>
        <input type="hidden" value="{{ extension }}" name="extension" />
        <input class="btn btn-primary my-2" type="submit" />
    </form>
    <p align="right"><a href="/">На главную</a></p>
</div>
</body>
</html>

